<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self' 'unsafe-inline'"
    />
    <title>Configuração de Roteador</title>
    <link rel="stylesheet" href="../public/css/configuracao.css" />
  </head>
  <body>
    <div class="container">
      <h2>Logs de Configuração:</h2>
      <p id="logs">
      </p>
    </div>
    <script type="module" src="configuracao.js"></script>
  </body>
</html>
